In [10]:
def square(x):
    return x*x
# square(10)

In [9]:
numbers=[1,2,3,4,5,6,7,8,9]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#lambda function with map
numbers=[1,2,3,4,5,6,7,8,9]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
#map multiple iterable
number1=[1,2,3]
number2=[4,5,6]

added_number=list(map(lambda x,y:x+y , number1, number2))
print(added_number)
# or 
list(map(lambda x,y:x+y , number1, number2))

[5, 7, 9]

In [17]:
# map() to convert a list of string to integer
#use map to convert strings to integers
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))

print(int_numbers) #Output: [1,2,3,4,5]

[1, 2, 3, 4, 5]

In [18]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [26]:
def get_name(person):
    return person['age']
people=[
    {'name':'Krish','age':32},
    {'name':'Taylor','age':33}
]

list(map(get_name,people))

[32, 33]