In [1]:
  # creating a tuple
empty_tuple=()
print(empty_tuple,type(empty_tuple))

() <class 'tuple'>

In [2]:
lst=list()
print(type(lst),lst)
st=set()
print(type(st),st)
tpl=tuple()
print(type(tpl),tpl)
dt=dict()
print(type(dt),dt)

<class 'list'> []
<class 'set'> set()
<class 'tuple'> ()
<class 'dict'> {}

In [3]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [4]:
list((1,2,3,4))

[1, 2, 3, 4]

In [5]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [7]:
# Accessing Tuple Elements
numbers =(1,2,3,4,5,6)
numbers

(1, 2, 3, 4, 5, 6)

In [16]:
print(numbers[0])
print(numbers[1])
print(numbers[-2])
numbers[0:4]
numbers[::-2]

1
2
5

(6, 4, 2)

In [18]:
# Tuple Operation
concationation=numbers + mixed_tuple
print(concationation)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [19]:
numbers*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
# immutable nature of tuples
# tuples are immutable, meaning there elements cannot be changed 
lst=[1,2,3,4,5]
print(lst)
lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [25]:
st={1,2,3}
st*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [28]:
lst=[1,2,3]
lst*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [29]:
tuple=(1,2,3)
tuple*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [33]:
dict={
    "name":"sam",
    "me" : "king"
}
print(dict*3)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [34]:
#tuples are immutable
tpl=(1,2,3)
tpl[1]="krish"

TypeError: 'tuple' object does not support item assignment

In [40]:
#Tuple Methods
numbers =(1,1,1,2,3,4,5,6)
print(numbers.count(1))# counts the no of times element is present 
print(numbers.index(2))# gives the index in which the element is present

3
3

In [41]:
#packing and Unpacking
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [42]:
#unpacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [43]:
#unoacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [48]:
#Nested Tuples
lst=[[1,2,3,4],[5,6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0] # it will print [1,2,3,4]
lst[0][2]# it will print 3
lst[0][0:3] #it will print [1,2,3]

[1, 2, 3]

In [50]:
lst=[[1,2,3,4],[5,6,7,8,9],[1,"Hello",3.14,"c"]]
lst[2][0:2]

[1, 'Hello']

In [51]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

#acess the element inside a tuple
print(nested_tuple[0])

(1, 2, 3)

In [54]:
# Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False